@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model AspNetCoreViewModels.ViewModels.Default.Calendar.CalendarViewModel
<div class="calendar">
  <div class="header">
    @Model.Date.ToString("MMMM yyyy")
  </div>
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th>Пн</th>
      <th>Вт</th>
      <th>Ср</th>
      <th>Чт</th>
      <th>Пт</th>
      <th>Сб</th>
      <th>Вс</th>
    </tr>
    @for (int i = 0; i != this.Model.Days.GetLength(0); i++)
    {
      <tr>
        @for (int j = 0; j != this.Model.Days.GetLength(1); j++)
        {
          <td>
            @Html.Partial("_Day", this.Model.Days[i, j])
          </td>
        }
      </tr>
    }
  </table>
</div>